<div class="container">
    <h1>New Address</h1>

    <div class="alert alert-info" role="alert"><h4>For faster checkout! Add in your address details below that will be used for your default shipping address!</h4></div>

    <%= render 'form', address: @address %>

    <%= link_to 'Back', addresses_path %>
</div>
